fonctions/bdd.php

# Ignorer tout le contenu du dossier fichiersClient
fichiersClient/*

# Ne pas ignorer le dossier fichiersClient lui-même
!fichiersClient/

# Ignorer tout le contenu du dossier facturesClient
facturesClient/*

# Ne pas ignorer le dossier facturesClient lui-même
!facturesClient/

# Ne pas ignorer ce fichier de maintien si nécessaire
!.gitignore

# ingorer le dossier .vscode ET tout son contenu
.vscode/*
.vscode
settings.json

.env
