body{
    display: flex;
    flex-direction: column;
}

/* Navbar */

.nav-border {
    z-index: 1;
    width: 100%;
    height: 5vh;
    max-height: fit-content; /* Pour que la navbar puisse déssendre en fonction de la taille de l'écran */
    padding: 40px;
    background: #020024;
    background:  linear-gradient(90deg, rgba(255,226,27,1) 0%, rgba(247,181,22,1) 25%, rgba(236,124,15,1) 50%, rgba(225,62,8,1) 75%, rgba(214,0,0,1) 100%);
    position: relative;
    animation: gradient 3s linear infinite;
}

.nav-border::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    filter: blur(7px);
}

.nav-border .logo-div{
    padding: 0 0 0 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-border .nav{
    width: 100%;
    position: absolute;
    padding: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}

.left-links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.right-link{
    width: 50%;
    padding-right: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 18.75em 31.25em;
    }
    100% {
        background-position: 0.1em 0.1em;
    }
}

.lienNav {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center;
    width: 100% !important;
    margin: 20px;
    height: 50px;
    color: black !important;
    font-family: 'Roboto', sans-serif !important;
}

.lienNav:hover {
    border-bottom:1px solid crimson;
    color: crimson !important;
}

.btn-deco{
    background-color: #dc143c;
    color: white !important;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-deco:hover{
    color: white !important;
}

.lienNav i{
    float: right;
}

.lienNav .badge{
    position: fixed;
    margin-left: 110px;
    margin-top: 25px;
}

.actif{
    border-bottom: 1px solid #dc143c;
    color: crimson !important;
    font-weight: bold !important;
}

.nav-item:hover {
    scale: 1.05;
    transition: 0.5s;
}

.bottom{
    bottom: 0;
    position: absolute;
    width: 90%;
}

/* Navbar */

/* Responsive Navbar */

.nav-hamburger {
    display: none;
}
.hamburger {
    display: none;
}
@media screen and (max-width: 1280px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .nav-border { /* Barre de navigation de base cacher */
        display: none;
    }
    .nav-hamburger{
        display: block;
        position: fixed;
        background-color: white;
        width: 100vw;
        min-height: 5svh;
        height: fit-content;
        z-index: 1000;
    }
    .hamburger {
        display: none;
        width: 100vw;
        height: 100svh;
        padding: 20px;
    }

    .hamburger__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .header{
        width: 100vw !important;
        height: 95svh;
    }
    .btn-hamburger {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        font-size: large;
        font-weight: bold;
    }
    .contenue{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100svh;
        padding: 20px;
    }
    .lienNav {
        width: 100% !important;
        display: flex !important;
        justify-content: space-around !important;
    }
    .lienNav:hover{
        border-bottom: none;
    }
    .actif{
        border-bottom: none;
    }
    .lienNav .badge{
        position: relative;
        float: right;
        margin: 0;
    }

}


/* Fin du code responsive Navbar */

/* 
    La page (qui sera à droite de la nav) 
    prendra automatiquement
    100% de l'espace restant
*/
.contenue{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #000000, #200413, #320425, #40003e, #45005e);
    color: white;
}